[submodule "submodules/DROMPAplus"]
	path = submodules/DROMPAplus
	url = git@github.com:rnakato/DROMPAplus.git
[submodule "submodules/SSP"]
	path = submodules/SSP
	url = git@github.com:rnakato/SSP.git
